
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
     scroll-behavior: smooth;
}
.overall{
    width:100%;
    min-height: 738px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
      font-family: "Inter", sans-serif;
    /* gap:30px */
}
.nav{
    width:100%;
    display:flex;
    justify-content: space-between;
    background-color: white;
    /* position: fixed; */
    /* z-index: 999; */
    padding:10px;
     /* backdrop-filter: blur(5px) brightness(120%); */

    
}
.navimg{
    width:70px;
    height:70px
}
.navpro h1{

    padding-top:10px

}
.ipro{
    font-size: 25px;
    color: aqua;
    padding-top: 10px;
}

.txt{
    display:flex;
    gap:30px;
    
}
.txta>a{
    position: relative;
    font-size: 18px;
    transition: all 1s;
    text-decoration: none;
    color:black

}
a:hover{
    color: #005D9C;
    border-bottom: 5px dotted #005D9C;
}
.ah1{
       height: 30px;
    margin-top: 26px;
}
.navbut{width: 100%;
    background-color: transparent;
    height: 100%;
    border: none;
    border-radius: 50px;
    margin-top: 4px;}
a button:hover{
    color: white;
    border: none;
     /* border-bottom: 5px dotted white; */
}
.ah{
    width:120px;
    /* padding:8px 8px 8px 15px ; */
    border-radius: 50px;
    height:40px;
    display: flex;
    justify-content: center;
    color:white;
    align-items: center;
    background-color:#005D9C;
    margin-top:18px
}


.navpro{
    display: flex;
    gap:25px
}

.pro{
    display:none
}
input:checked~.txt{
    border-color: cornflowerblue;
    left:0%;
    width:100%
}
.mask{
    display:none

}
/* bg */
.bg{
    width:100%;
    min-height:300px;
     /* background-image: url("./task3a\ home.png"); */
    background-color:#005D9C;
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap:15px;
    position: relative;
    
    /* padding-right:15px */
    
}
.bg h1{
    font-size: 80px;
    font-weight: 700;
    width:60%;
    color: white;
}
.bg img{
    width:300px;
    height:300px
}
.sector{
    width:100%;
    min-height: 738px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    flex-wrap: wrap;
}

orm{
    width:600px;
    min-height:400px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
      flex-direction: column;
      padding:10px;
    
}
.title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.child{
    width:100%;
    /* background-color: red; */
    display: flex;
    gap:2%
}
.pattanni{
    width: 50%;
    /* background-color: blueviolet; */
}
.perumal{
   width: 100%;
    /* background-color: blueviolet;  */
}

label{
    display: block;
    /* margin-bottom: 5px; */
}

form div input{
    width:100%;
    height:40px;    
    border-radius: 8px;
    outline: none;
    border: 2px solid gray;
    padding:0px 30px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0,0.1);
}
form div{
    position: relative;
    margin-bottom: 15px;
}
label{
    margin-bottom: 5px;
}

input:focus{
    border: 2px solid red;
}

form div i{
    position: absolute;
    padding: 10px;
}
.failur-icon,.error{
    color:red
}
.success-icon{
    color:green
}
.error{
    font-size: 14.5px;
    margin-top: 5px;
}
.succes-icon,.failure-icon{
    right: 12px;
    opacity: 0;
}
button{
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: red;
    border: 2px solid red;
    border-radius: 8px;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
 box-shadow: 2px 2px 4px rgb(0, 0, 0,0.1);
    transition: all 0.1s ease;
}

button:hover{
    opacity: 0.8;

}
/* form{
    width:600px;
    min-height:485px;
    padding:10px
   
}
.row1{
    width:100%;
   
}
.row2{
    width:50%
}
.txt1{
    width:100%;
    padding:10px;
    margin:5px 0px 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.row{
    display: flex;
    gap:2%
}
.txt10{
    font-size: 20px;
}
.txth1{
    margin-bottom:10px;
    color: #005D9C;
} */
.contact img{
    width:270px;
    height:300px
}
button{
    width:100px;
    padding:10px;
    border: none;
    color: white;
    background-color: #005D9C;
    border-radius: 50px;
}
.contactpro{
    width:300px;
    height:485px;
    
    display: flex;
    flex-direction: column;
    gap:20px

}
/*  contact*/
.contact{
    width: 100%;
    min-height: 400px;
    background-color:#005D9C;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:20px 0px 10px 10px;
}
.contact1{
    width:100%;
    min-height: 300px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contactbox1{
    width:300px;
    height:200px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap:15px
}
.contactbox1 img{
    width:80px;
    height:80px;
        border: 1px solid white;
        border-radius: 50%;
}
.contactbox2{
    width:140px;
    height:200px;
   
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-top: 50px;
    
}
.contactbox3{
    width:350px;
    height:200px;
   
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-top: 50px;
}
.contactdis{
    display: flex;
    gap:15px
}
.contactbox4{
    width:340px;
    height:200px;
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-top: 50px;
}
.contdis{
    display: flex;
    gap:10px
}




@media only screen and (min-width:300px) and (max-width:600px){

    .mask {
        display: inline-block
    }
.txt{
    background-color: burlywood;
    position: fixed;
    left:-100%;
    top:100px;
    height:80vh;
    width:100%;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    transition:all 1s;
    z-index: 999;
   }
   .row{
        flex-direction: column;
    }
    .row2{
        width:100%
    }

}

@media only screen and (min-width:300px) and (max-width:426px){

    .bg{
        flex-direction: row-reverse;
    }
    .bg h1{
        font-size: 35px;
    }
    .bg img{
        width:150px
    }
}
@media only screen and (min-width:426px) and (max-width:530px){

    .bg h1{
        font-size: 40px;
    }
    .bg img{
        width:250px
    }
}
@media only screen and (min-width:530px) and (max-width:600px){

     .bg h1{
        font-size: 50px;
    }
    
}
@media only screen and (min-width:600px) and (max-width:900px){

    .mask {
        display: inline-block
    }
.txt{
    background-color: burlywood;
    position: fixed;
    left:-100%;
    top:100px;
    height:80vh;
    width:100%;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    transition:all 1s;
    z-index: 999;
   }
    
}
@media only screen and (min-width:300px) and (max-width:460px){

    form{
        width:100%
    }
    .child{
        flex-direction: column;
    }

    .pattanni{
        width:100%
    }
    
    
}

@media only screen and (min-width:300px) and (max-width:340px){

.contactbox4p{

font-size: 15px;

}




}